@{
    // See Views/Shared/_Layout.cshtml line 6 for why this is here.
    ViewData["Title"] = "Home";
}
<h3>Hello Logging</h3>
<p>If you are seeing this page, you should now see a log statement in your console that looks like the following:</p>
<pre>
    <span class="warn">warn</span>: HelloAspNetMvc.Controllers.HomeController[0]
          Hello from the HomeController logger!
</pre>
