<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Hello ASP.NET MVC</title>

        <!-- This would normally go in the wwwroot directory but for simplification of the quickstart it's here -->
        <style type="text/css">
            html,body {
                padding: 0;
                margin: 0;
            }

            body {
                font-family: 'Helvetic Neue', Helvetica, Arial, sans-serif;
                font-size: 13px;
                color: #202020;
            }

            .container {
                margin: 0 auto;
                width: 1050px;
            }

            .header {
                color: #e5e5e5;
                background-color: #202020;
                height: 50px;
                padding: 0;
                margin: 0;
            }
            .appname {
                font-size: 18px;
                margin-left: 10px;
                position: relative;
                top: 16px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <span class="appname">Hello ASP.NET MVC</span>
            </div>
        </div>
        <div class="content">
            <div class="container">
                @RenderBody()
                <hr />
            </div>
        </div>
        <div class="footer">
            <div class="container">
                Made for .NET Core 1.0 by Red Hat
            </div>
        </div>
    </body>
</html>